global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'user-service'
    static_configs:
      - targets: ['user-service:3001']

  - job_name: 'email-service'
    static_configs:
      - targets: ['email-service:3002']

  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:3000']

  - job_name: 'rabbitmq'
    static_configs:
      - targets: ['rabbitmq:15672']